
</body>
</html>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<body style="marg 0; padding: 0;">

    <table cellspacing=3D0 cellpadding=3D0 border=3D0 style="background-col=or: #E1E1E1; padding: 25px;">
    <tr>
        <td>
            <table align=center cellspacing=3D0 cellpadding=3D0 width=100"; border=3D0 style=3D"border-collapse: collapse; border-spacing=0">
                <tr>
                    <td style="background-color: #0070BF; text-align: center; hei=
                    ght: 70px;">
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:40px; padding-right: 40px; background=
                    -color: #FFFFFF;">
                    <table>
                        <tr>
                            <h1>Bienvenue sur MusicStore !</h1>

                            <p>
                            Pour commencer, vous devez confirmer votre adresse e-ma=
                            il.
                            La confirmation de votre adresse e-mail est la première étape vers un mode de vie plus sain.
                            </p>
                        </tr>
                        <table>
                        <tr>
                            <td>
                            <a href="/localhost/symfony/web/app_dev.php/email/{{ token }}">Confirmer l'e-mail</a>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                           <td>Merci,<br/>
                                L'équipe de MyFitnessPal
                            </td>
                        </tr>
                    </table>
            </table>

        </td>
    </tr>
</table>

</body>
</html>
