<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
</head>
<body>
<h1>Salut mon poulet</h1>
    <p>Je suis un span et j'adore te faire chier</p>

    <h1>Coucou {{ data["firstname"] }} !</h1>

    <p>J'ai bien reçu ton ptit message:</p>
    <p>{{ data["email"] }}</p>
    <p>{{ data["content"] }}</p>

    <p>Bisou sur ta fesse droite :D</p>
</body>
</html>