{% extends 'mere.html.twig' %}


{% block meta %}<meta keywords="page, fille, sister"/>{% endblock %}


{% block title %}Test | bloc fille{% endblock %}

{% block mere %}
	{{ parent() }}
   <h2>Page Fille</h2>
{% endblock %}