{% extends 'mere.html.twig' %}

{% block meta %}<meta keywords="page, mère, mother"/>{% endblock %}


{% block title %}Test | bloc mère{% endblock %}

{% block nav %}{% endblock %}


{% block body %}
	{{ parent() }}

       <h2>Page Frère</h2>
       

{% endblock %}