{% extends 'layout.html.twig' %}

{% block meta %}<meta keywords="page, mère, mother"/>{% endblock %}


{% block title %}Test | bloc mère{% endblock %}


{% block body %}
       {% block mere %}
       	       <h1>Page Mère</h1>
		{% endblock %}

{% endblock %}