
{% extends 'layout.html.twig' %}

{% block start %}

    {{ form_start(formProduct) }}

    {{ form_row(formProduct) }}

    <button>Modifier</button>

    {{ form_end(formProduct) }}

{% endblock %}