<!-- /.content-wrapper -->
  <li><a href="{{ asset('app_dev.php/admin') }}"><i class="fa fa-circle-o"></i>Page Admin</a></li>
  <li><a href="{{ asset('app_dev.php/admin/products') }}"><i class="fa fa-circle-o"></i>Page Produits </a></li>
  <li class="active"><a href="{{ asset('app_dev.php/contact') }}"><i class="fa fa-circle-o"></i>Aide TWIG </a></li>
