<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Symfony 3 | Mon site</title>

    {% block css %}
        <link rel="stylesheet" href="{{ asset("bootstrap/css/bootstrap.min.css") }}">

    {% endblock %}

</head>
<body class="hold-transition skin-blue sidebar-mini">


{% block insertionLayout %}
{% endblock %}

{% block js %}

{% endblock %}

</body>
</html>