
{% extends 'layout.html.twig' %}

{% block start %}

    {{ form_start(formCategorie) }}

    {{ form_row(formCategorie) }}

    <button>Modifier</button>

    {{ form_end(formCategorie) }}

{% endblock %}